@import 'palette';

.existing-image-form-wrapper {
  img {
    max-height: 100%;
  }
}

.choose-new-image-wrapper {
  margin: 10px 0px;  
}

.draggable .stat-wrapper {
  height: 50px;
  width: 50px;
  background-color: white;
  color: $color_primary_dark;
}
